form{
    width: 50%;
    margin-left: 10%;
    margin-bottom: 10%;
}

#response {
    color: red;
    font-size: 20px;
    margin-left: 10%;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

input {
    height: 30px;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border-style: none;
}

#date{
    width:220px;

}

#invoice-currency{
    margin-top: 10px;
    padding: 5px;
    width: 220px;
    background-color: whitesmoke;
    border-style: none;

}

button {
    color:white;
    font-size: 18px;
    left:40%;
    background-color: #349BC4;
    border-style: none;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius:25px;
    margin-top: 10px;
}

button:hover {
    background-color: #DCB342;
}